# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.codeLab_week09.iml
# Datasource local storage ignored files
/../../../../../../../../:\spring2021\codeLab01\week09\codeLab_week09\.idea\.idea.codeLab_week09\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
